{#
SPDX-FileCopyrightText: 2025 Matvey Vyalkov

SPDX-License-Identifier: WTFPL
#}

{% set start_date = week.monday.strftime("%x") %}
{% set end_date = week.sunday.strftime("%x") %}

{% set prev_week_link = (week - 1).week_id ~ ".html" %}
{% set next_week_link = (week + 1).week_id ~ ".html" %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="generator" content="https://altlinux.space/acme-corp/ecp.egov66.ru-timetable" />
  <link rel="stylesheet" href="{{ css_path }}" />
  <title>Расписание группы {{ group }} с {{ start_date }} по {{ end_date }}</title>
  {% block head_extra %}{% endblock %}
</head>
<body>
  <header>
    <h1>
      <span class="line">Расписание группы <a href="..">{{ group }}</a></span>
      <span class="line">с {{ start_date }} по {{ end_date }}</span>
      <span class="line">
        (<a href="{{ next_week_link }}">вперёд</a> | <a href="{{ prev_week_link }}">назад</a>)
      </span>
    </h1>
  </header>
  <main>
    {% for day in timetable %}
    <h2>{{ (week.monday + timedelta(days=loop.index0)).strftime("%A") }}</h2>
    <table>
      {% for lesson_num in range(day|max|default(2) + 1) %}
      <tr>
        {% set classroom, name = day.get(lesson_num, ["нет", ""]) %}
        <td class="classroom">{{ classroom }}</td>
        <td>{{ name }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endfor %}
  </main>
  <footer>
    <nav>
      <a href="{{ prev_week_link }}">← Предыдущая</a>
      <a href="{{ next_week_link }}">Следующая →</a>
    </nav>
  </footer>
  {% block body_extra %}{% endblock %}
</body>
</html>
