{#
SPDX-FileCopyrightText: 2025 Matvey Vyalkov

SPDX-License-Identifier: EUPL-1.2
#}

{% set start_date = week.monday.strftime("%x") %}
{% set end_date = week.sunday.strftime("%x") %}

{% set prev_week_link = (week - 1).week_id ~ ".html" %}
{% set next_week_link = (week + 1).week_id ~ ".html" %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="generator" content="https://altlinux.space/acme-corp/ecp.egov66.ru-timetable" />
  <link rel="stylesheet" href="{{ css_path }}" />
  {% block title %}
    <title>Расписание группы {{ group }} с {{ start_date }} по {{ end_date }}</title>
  {% endblock %}
  {% block head_extra %}{% endblock %}
</head>
<body>
  <header>
    <h1>
      {% block heading %}
        <span class="line">Расписание группы <a href="..">{{ group }}</a></span>
      {% endblock %}
      <span class="line">с {{ start_date }} по {{ end_date }}</span>
      <span class="line">
        (<a href="{{ next_week_link }}">вперёд</a> | <a href="{{ prev_week_link }}">назад</a>)
      </span>
    </h1>
  </header>
  <main>	
    {% block table %}
      {% for day in timetable %}
      <h2>{{ (week.monday + timedelta(days=loop.index0)).strftime("%A") }}</h2>
      <table class="student">
        {% for classroom, name, rowspan in day %}
        {% for _ in range(rowspan) %}
        <tr>
          <td class="classroom">{{ classroom }}</td>
          {% if loop.first %}
          <td rowspan={{ rowspan }}>{{ name }}</td>
          {% endif %}
        </tr>
        {% endfor %}
        {% endfor %}
      </table>
      {% endfor %}
    {% endblock %}
  </main>
  <footer>
    <nav>
      <a href="{{ prev_week_link }}">← Предыдущая</a>
      <a href="{{ next_week_link }}">Следующая →</a>
    </nav>
  </footer>
  {% block body_extra %}{% endblock %}
</body>
</html>
