/*
 * SPDX-FileCopyrightText: 2025 Matvey Vyalkov
 *
 * SPDX-License-Identifier: WTFPL
 */

html {
  font: 100%/1.5 sans-serif;
  text-size-adjust: none;
}
body {
  padding: 0 0.62em;
}
header {
  display: flex;
  justify-content: center;
}
main {
  display: grid;
  grid-template-columns: min-content auto;
  row-gap: 1em;
}
footer {
  margin: 1.5em 0;
}
nav {
  display: flex;
  justify-content: space-between;
  text-wrap: nowrap;
}
h1 {
  font-size: large;
  text-align: center;
  line-height: 1.2;
  max-width: 90%;
  margin-bottom: 1.5em;
}
h2 {
  font-size: 100%;
  line-height: 1.2;
  writing-mode: sideways-lr;
  text-align: center;
  margin-left: 0;
}
table {
  table-layout: fixed;
  width: auto;
  height: min-content;
  margin: auto 0;
  border: 2px solid;
  border-collapse: collapse;
  hyphens: auto;
}
tr {
  height: 1.4lh;
}
td {
  border: 1px solid;
  padding: 0.3em 0.6em;
}
td.classroom {
  width: 2em;
  max-width: 2em;
  font-weight: bold;
  text-align: center;
  overflow-wrap: anywhere;
  overflow: hidden;
}
span.line {
  display: inline-block;
}
@media screen {
  table {
    max-width: 25em;
  }
  @media not (prefers-contrast: more) {
    html {
      background-color: #fafafa;
      color: #212121;
    }
  }
  @media (max-width: 600px) {
    html {
      font-size: 90%;
    }
  }
}
@media print {
  nav {
    display: none;
  }
}
